.list-group-item {
    font-weight: 600;
}

.list-group-item.selected {
    border-left: 3px solid;
    border-left-color: green;
}

.list-group-item:hover {
    background-color: #F2F2F2;
}

.module-dropdown {
    border: none;
    background-color: transparent;
}

.module-dropdown-menu {
    position: absolute;
    left: -125px
}